.contact-envelope {
    position: relative;
    box-sizing: border-box;
    width: 876px;
    padding: 15px;
    margin: 20px auto;
    background-color: #F8F7F3;
    background-image: repeating-linear-gradient(135deg, 
        #D5181F 0px, #D5181F 50px, 
        transparent 50px, transparent 80px, 
        #0F5DA5 80px, #0F5DA5 130px, 
        transparent 130px, transparent 160px);
    box-shadow: 0 14px 7px -12px rgba(0, 0, 0, 0.898);
    flex-shrink: 0;
}


.contact-envelope:before {
    position: absolute;
    z-index: -1;
    right: 10px;
    bottom: 15px;
    width: 350px;
    height: 10px;
    transform: rotate(4deg) skew(4deg);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.898);
    content: "";
}

.contact-envelope__content {
    overflow: hidden;
    padding: 50px;
    background-color: #F8F7F3;
}

.contact-envelope__stamp {
    float: right;
    width: 100px;
    height: 70px;
    margin-left: 100px;
    background-image: url(images/stamp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.contact-envelope__header {
    margin-bottom: 30px;
    font-size: 31px;
    font-style: italic;
}

.contact-envelope__message {
    font-size: 18px;
    line-height: 25px;
}

.contact-envelope__buttons {
    margin-top: 20px;
    font-size: 0;
    line-height: normal;
}

.contact-envelope__buttons-separator {
    display: none;
}

@media only screen and (min-width: 551px) and (max-width: 930px) {
    .contact-envelope {
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .contact-envelope__stamp {
        display: none;
    }
    
    .contact-envelope__content {
        padding: 30px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 550px) {
    .contact-envelope {
        width: auto;
        margin: 30px 10px;
        box-shadow: none;
    }
    
    .contact-envelope:before,
    .contact-envelope__stamp {
        display: none;
    }
    
    .contact-envelope__content {
        padding: 30px;
    }
}

@media only screen and (min-width: 0) and (max-width: 440px) {
    .contact-envelope__buttons-separator {
        display: block;
    }
}