.footer {
    display: block;
    color: #787C80;
    text-align: center;
    font-size: 13px;
    flex-shrink: 0;
}

.footer_position-absolute {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer__content-link {
    font-size: 13px;
    color: #787C80;
    text-decoration: none;
}

.footer__content-link:hover {
    color: #FFF8E1;
}