html,
body {
    min-width: 300px;
    padding: 0;
    margin: 0;
    scrollbar-base-color: #DBE0E8;        
    scrollbar-track-color: #AFB4BC;
    scrollbar-arrow-color: #DBE0E8;  
    scrollbar-3dlight-color: #DBE0E8;
    scrollbar-highlight-color: #DBE0E8;
    scrollbar-shadow-color: #DBE0E8;
    scrollbar-dark-shadow-color: #DBE0E8;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #DBE0E8;
}

::-webkit-scrollbar-thumb {
    background-color: #AFB4BC;
}

html.layout__full-page,
body.layout__full-page {
    height: 100%;
}

.layout {
    background-color: #CDD2DA;
    color: #062271;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 22.4px;
    line-height: 36px;
    letter-spacing: 1px;
}

.layout__content_display_flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layout__content_display_fill-all {
    position: relative;
    min-height: 100%;
}

.layout__section {
    box-sizing: border-box;
    width: 930px;
    min-width: 300px;
    min-height: 500px;
    margin: 0 auto;
    clear: both;
}

.layout__about {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.layout__projects {
    width: 850px;
    padding: 20px 0;
    font-size: 0;
    text-align: center;
}

.layout__skills {
    width: 840px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.layout__contacts {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layout__404 {
    margin: 0;
    width: 1100px;
    position: relative;
}

@media only screen and (min-width: 0px) and (max-width: 550px) {
    .layout__section {
        display: block;
        width: 100%;
    }
}

@media only screen and (min-width: 0) and (max-width: 930px) {
    .layout__contacts {
        width: 100%;
    }
}

@media only screen and (min-width: 720px) and (max-width: 940px) {
    .layout__skills {
        width: 640px;
    }
}

@media only screen and (min-width: 520px) and (max-width: 719px) {
    .layout__skills {
        width: 420px;
    }
}

@media only screen and (min-width: 0) and (max-width: 519px) {
    .layout__skills {
        width: 200px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 880px) {
    .layout__projects {
        width: 630px;
    }
}

@media only screen and (min-width: 0) and (max-width: 649px) {
    .layout__projects {
        width: auto;
    }
}

@media only screen and (max-width: 900px) {
    html.layout__404,
    body.layout__404 {
        height: auto;
    }
    
    .layout__404 {
        width: auto;
        height: auto;
        min-width: 300px;
        min-height: auto;
    }
}