html, 
body {
    background-color: #AFC8DD;
    height: 100%;
    min-width: 200px;
    font-family: sans-serif;
}

.layout__header {
    width: 100%;
    height: 70px;
    min-width: 200px;
    padding: 0 3%;
    z-index: 5;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: space-between;
    align-items: center;
    background-color: rgb(101, 122, 158);
    color: #ffffff;
}

.nav {

}

.nav__items-list {
    list-style-type: 0;
}

.nav__item {
    float: left;
    padding-left: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    list-style: none;
}

.nav__item_active {
    font-weight: 700;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    flex: 1;
    margin-right: 30px;
}

.logo__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 27px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 700;
}

.layour__content {
    padding: 70px 0;
    height: 100%;
}

.bogus-img {
    height: 100%;
    background-image: url(images/lake.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bogus-img__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(274, 115, 150);
}

.bogus-img__wrapper {
    width: 100%;
    padding: 0 10px;
}

.bogus-img__title {
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}

.bogus-img__hint {
    font-size: 30px;
    text-align: center;
}

.section-title {
    margin-top: 45px;
    padding-top: 45px;
    text-align: center;
    font-size: 30px;
    color: #445a6f;
    font-weight: 700;
    text-transform: uppercase;
}

.section-title__work,
.projects,
.section-title__contacts,
.contacts {
    background: #c1d4e5;
}

.projects-list {
    margin: 0 auto;
    width: 970px;
    padding: 45px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #c1d4e5;
}

.section-title__about {
    background-color: #AFC8DD;
    margin-top: 0;
}

.about {
    background-color: #AFC8DD;
}

.about__introduction {
    margin: 0 auto;
    width: 700px;
    padding-top: 45px;
    font-size: 20px;
    line-height: 30px;
    color: #445a6f;
    text-align: center;
}

.skills {
    padding: 45px 0;
    background-color: #AFC8DD;
    width: 840px;
    margin: 0 auto;
    clear: both;
}

.skills-list {
    margin: 0 auto;
    width: 970px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contacts {
    padding: 45px 0 240px 0;
}

.layout__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    min-width: 200px;
    padding: 0 2%;
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: rgba(20,24,31, 0.8);
    color: #ffffff;
}

@media only screen and (min-width: 711px) and (max-width: 1030px) {
    .bogus-img__title {
        font-size: 50px;
    }

    .bogus-img__hint {
        font-size: 25px;
    }

    .projects-list {
        width: 660px;
    }

    .about__introduction {
        width: 600px;
    }
}

@media only screen and (max-width: 710px) {
    .logo__link {
        font-size: 20px;
    }

    .bogus-img__title {
        font-size: 30px;
    }

    .bogus-img__hint {
        font-size: 20px;
    }

    .projects-list {
        width: 340px;
    }

    .about__introduction {
        width: 300px;
        font-size: 17px;
    }
}

@media only screen and (min-width: 720px) and (max-width: 940px) {
    .skills {
        width: 640px;
    }
}

@media only screen and (min-width: 520px) and (max-width: 719px) {
    .skills {
        width: 420px;
    }
}

@media only screen and (min-width: 0) and (max-width: 519px) {
    .skills {
        width: 200px;
    }
}

@media only screen and (min-width: 0) and (max-width: 349px) {
    .projects-list {
        width: 200px;
    }

    .about__introduction {
        width: 200px;
        font-size: 15px;
    }
}