.not-found {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.not-found__wrapper {
    width: 100%;
    padding: 0 10px;
    color: #445a6f;
    text-align: center;
}

.not-found__title {
    font-size: 200px;
    font-weight: 700px;
    color: #445a6f;
}

.not-found__sub-title {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
}

.not-found__text {
    padding-bottom: 10px;
    font-size: 20px;
}

.btn-home {
    font-size: 30px;
    color: #445a6f;
}

.btn-home:hover {
    color: rgb(274, 115, 150);
}

@media only screen and (min-width: 0) and (max-width: 399px) {
    .not-found__title {
        font-size: 150px;
    }

    .not-found__sub-title {
        font-size: 20px;
    }

    .not-found__text {
        font-size: 15px;
    }
}