.skill-tile {
    visibility: hidden;
    display: inline-block;
    width: 200px;
    height: 232px;
    overflow: hidden;
    margin: 0 0 -60px 5px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    transition-property: all;
}

.skill-tile__rotator_1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.skill-tile__rotator_2 {
    position: relative;
    visibility: visible;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
    background-color: #FF9A00;
    background-position: 50%;
    background-repeat: no-repeat;
}

.skill-tile__rotator_2:after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    content: "";
}

.skill-tile__rotator_2:hover:after {
    width: 120%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background-color: rgba(255,255,255,0);
}

.skill-tile:nth-of-type(4) {
    margin-left: -101px;
}

.skill-tile__image_js {
    background-color: #FFFFFF;
    background-image: url("images/skills/js-white.png");
    background-size: 150px auto;
}

.skill-tile__image_jquery {
    background-color: #373737;
    background-image: url("images/skills/jquery.png");
}

.skill-tile__image_html {
    background-color: #FFFFFF;
    background-image: url("images/skills/html5.svg");
    background-size: 150px auto;
}

.skill-tile__image_css {
    background-color: #FFFFFF;
    background-image: url("images/skills/css3.svg");
    background-size: auto 150px;
}

.skill-tile__image_less {
    background-color: #FFFFFF;
    background-image: url("images/skills/less.svg");
    background-size: 150px auto;
}

.skill-tile__image_asp {
    background-color: #FFFFFF;
    background-image: url("images/skills/asp-net.png");
    background-size: 150px auto;
}

.skill-tile__image_ko {
    background-color: #890E0C;
    background-image: url("images/skills/ko.png");
    background-size: 150px auto;
}

.skill-tile__image_angular {
    background-color: #FFFFFF;
    background-image: url("images/skills/angular.svg");
}

.skill-tile__image_react {
    background-image: url("images/skills/react.svg");
    background-size: 150px auto;
}

.skill-tile__image_d3 {
    background-color: #FFFFFF;
    background-image: url("images/skills/d3.svg");
    background-size: 130px;
}

.skill-tile__image_jasmine {
    background-color: #FFFFFF;
    background-image: url("images/skills/jasmine-labeled.png");
    background-size: 180px;
}

.skill-tile__image_csharp {
    background-color: #FFFFFF;
    background-image: url("images/skills/csharp.png");
    background-size: 180px auto;
}

.skill-tile__image_sql {
    background-color: #FFFFFF;
    background-image: url("images/skills/sql.png");
    background-size: 150px auto;
}

.skill-tile__image_mongodb {
    background-color: #FFFFFF;
    background-image: url("images/skills/mongodb.svg");
    background-size: 160px auto;
}

.skill-tile__image_nodejs {
    background-color: #FFFFFF;
    background-image: url("images/skills/nodejs-black.png");
}

@media only screen and (min-width: 720px) and (max-width: 940px) {
    .skill-tile:nth-of-type(3),
    .skill-tile:nth-of-type(8) {
        margin-left: -101px;
    }
    
    .skill-tile:nth-of-type(4) {
        margin-left: 5px;
    }
}

@media only screen and (min-width: 520px) and (max-width: 719px) {
    .skill-tile:nth-of-type(2),
    .skill-tile:nth-of-type(5),
    .skill-tile:nth-of-type(8) {
        margin-left: -101px;
    }
    
    .skill-tile:nth-of-type(3),
    .skill-tile:nth-of-type(4) {
        margin-left: 5px;
    }
}

@media only screen and (min-width: 0) and (max-width: 519px) {
    .skill-tile:nth-of-type(n) {
        margin-left: 0;
        margin-bottom: 0;
    }
}