@keyframes dropHeader {
    0% {
        transform: rotate(0deg);
    }
    40% {
        width: 1000px;
        transform: rotate(-30deg);
    }
    50% {
        width: 1000px;
        transform: rotate(-20deg);
    }
    70% {
        width: 1000px;
        transform: rotate(-40deg);
    }
    80% {
        width: 1000px;
        transform: rotate(-30deg);
    }
    100% {
        width: 1000px;
        transform: translate(100px, 230px) rotate(-30deg);
    }
}

.nav__404 {
    position: relative;
    animation-name: dropHeader;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 901px) {
    .nav__404 {
        display: none;
    }
}